/* shared style */
.display-flex {
  display: flex;
}
main {
  max-width: 1440px;
  margin: 0 auto;
}

/* navbar related style  */

.navbar {
  justify-content: space-between;
  align-items: center;
}
.brand {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-item {
  list-style: none;
  margin-right: 30px;
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
}
.nav-link {
  text-decoration: none;
}

.navbar {
  max-width: 1440px;
  margin: 0 auto;
}

/* banner related style */
.banner {
  max-width: 1440px;
  margin: 120px auto;
  justify-content: space-between;
  align-items: center;
}
.banner-title {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 3.25rem;
  font-weight: 700;
  width: 582px;
  margin-bottom: 10px;
}
.banner-description {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  width: 505px;
}
.pre-book-btn {
  background: #e02c6d;
  color: white;
  padding: 10px 24px;
  border: none;
  border-radius: 41px;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
.banner-pics {
  display: flex;
}
.banner-pic2 {
  position: absolute;
}

/* companies related style */
.div {
  max-width: 1110px;
  height: 1px;
  margin: 0px auto;
  padding-bottom: 35px;
}
.companies {
  max-width: 1110px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 20px;
}
.company {
}

/* Collection related style */
.collection {
  margin-top: 100px;
  text-align: center;
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1.75rem;
  font-weight: 600;
}
.collection-container {
  max-width: 1110px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 0px;
}
.collection-card {
  width: 329px;
  padding: 15px 0px;
  border-radius: 5px;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.collection-img {
  text-align: center;
}
.collection-card-description {
  padding: 0px 15px;
}
.collectione-title {
  color: var(--Text-Gray-900, #18191f);
  font-family: Poppins;
  font-size: 1.75rem;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0px;
}
.collection-description {
  color: var(--Gray-50, #787885);
  font-family: Inter;
  font-size: 14px;
  font-weight: 700;
  margin-top: 0px;
  margin-bottom: 0px;
}
.collection-price {
  color: var(--Dark-Color, rgba(0, 0, 0, 0.87));
  font-family: Inter;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 10px;
}
.see-more {
  max-width: 1000px;
  margin: 0 auto;
  text-align: end;
}
.see-more-btn {
  /* padding: 20px 30px; */
  background-color: transparent;
  border: none;
  color: rgba(224, 44, 109, 0.87);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 700;
  margin-top: 50px;
  cursor: pointer;
}
.featured-container {
  display: flex;
  max-width: 1210px;
  margin: 100px auto;
}
.featured-container-description {
  margin-left: 95px;
}
.featured-title {
  color: #0a0826;
  font-family: Poppins;
  font-size: 2.375rem;
  font-weight: 700;
}
.featured-description {
  color: #6c6c6c;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 700;
}
.join-btn {
  padding: 10px 24px;
  background-color: #e02c6d;
  color: white;
  border: none;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 700;
}


g
/* Responsive related style  */

/* small devices */
@media screen and (max-width: 576px) {
  .navbar {
    flex-direction: column;
  }
  .banner,
  .banner-title,
  .banner-description {
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
    width: auto;
  }
  .banner-title {
    font-size: 1.75rem;
  }
  .banner-description {
    font-size: 0.875rem;
    font-weight: 500;
  }

  .companies {
    grid-template-columns: repeat(4, 1fr);
  }
}
